body {
    display: flex;
    flex-direction: column;
}

.pic {
    background-image: url("tutorial.PNG");
}

img {
    width: 40%;
}

h1{
    color: red;
    text-decoration: underline;
}

h2 {
    color: red;
}

.bar {
    height: 10px;
    width: 100%;
    background-color: green;
}